<div class="ui-g-12">
  <p>LISTA DE USUARIOS</p>

  <p-dataScroller [value]="listaUsuarios" [rows]="10" [inline]="true" scrollHeight="500px">
    <p-header>
      LISTA DE USUARIOS
    </p-header>
    <ng-template let-usuario pTemplate="item">

      <p> {{ usuario.nombre }}</p>


      <div class="ui-g-2">
        <button pButton type="button" label="MENSAJE" class="ui-button-rounded ui-button-warning"></button>
        <button pButton type="button" label="BORRAR" class="ui-button-rounded ui-button-danger"></button>
      </div>

    </ng-template>
  </p-dataScroller>

</div>
