img {
    border-radius: 5px;
    border-bottom: 4px solid #F5AE15;
}

span {
    margin: 15px;
}

button {
    background-color: #dedede;
    border-radius: 5px;
    border-bottom: 4px solid #F5AE15;
    font-weight: bolder;
    margin-bottom: 10px;
}