<div class="container">
    <p-card class="ui-fluid" title="Déjanos tu opinión">

        <form [formGroup]="formularioOpinion" (submit)="enviarOpinion()">
            <div class="ui-grid">

                <img class="ui-grid-col-2 mx-auto d-block" [src]="usuario.avatar" alt="avatar">

                <div class="ui-g-12 ui-md-12 ui-lg-10">
                    <p-dropdown formControlName="actividad" [options]="listaActividadesDelUsuario" placeholder="Selecciona una actividad" [showClear]="true" filter="true"></p-dropdown>

                    <span class="ui-float-label ui-g-12 ui-md-10">
                        <input formControlName="titulo" id="titulo" type="text" size="30"
                            pInputText>
                        <label for="titulo">Título de tu opinión</label>
                        <div *ngIf="formularioOpinion.get('titulo').dirty && !formularioOpinion.get('titulo').valid" class="form-control-feedback">
                            <p *ngIf="formularioOpinion.get('titulo').hasError('required')">*Introduce un título</p>
                        </div>
                    </span>

                    <span class="ui-float-label ui-g-12 ui-md-10">
                        <textarea formControlName="detalle" id="detalle" rows="5" cols="15"
                            pInputTextarea autoResize="autoResize"></textarea>
                        <label for="descripcion">Escribe tu opinión</label>
                        <div *ngIf="formularioOpinion.get('detalle').dirty && !formularioOpinion.get('detalle').valid" class="form-control-feedback">
                            <p *ngIf="formularioOpinion.get('detalle').hasError('required')">*Introduce una opinión</p>
                            <p *ngIf="formularioOpinion.get('detalle').hasError('minlength')">*Introduce al menos 25 caracteres</p>
                        </div>
                    </span>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <p-rating formControlName="organizacionValoracion" class="ui-g-4" id="ratingOrganizacion" stars="5" [cancel]="false"></p-rating>
                        <label for="ratingOrganizacion">Organización</label>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <p-rating formControlName="ambienteValoracion" class="ui-g-4" id="ratingBuenRollo" stars="5" [cancel]="false"></p-rating>
                        <label for="ratingBuenRollo">Buen rollo</label>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <p-rating formControlName="recorridoValoracion" class="ui-g-4" id="ratingRecorrido" stars="5" [cancel]="false"></p-rating>
                        <label for="ratingRecorrido">Recorrido</label>
                    </div>
                </div>
            </div>

            <button [disabled]="formularioOpinion.invalid" pButton type="submit" label="ENVIAR" class="text-center"></button>

        </form>
    </p-card>
</div>