<div class="container">

    <div class="row">
        <h3 class="col-12 text-center">CREAR CATEGORÍA</h3>

        <div class="col-sm-12 col-md-6">
            <h4 class="col-12">Añade con una imagen</h4>
            <img [src]="imagen">
            <input class="col-6" type="file" accept="image/*" (change)="changeListener($event)">
        </div>

        <form class="col-sm-12 col-md-6" [formGroup]="formularioCategoria" (ngSubmit)="crearCategoria(formularioCategoria.value)">

            <div class="col-12">
                <h4 class="col-12">Nombre de la categoría</h4>
                <span class="ui-float-label">
                    <input [formControl]="formularioCategoria.controls['nombre']" id="nombre" name="nombre" type="text" size="30" pInputText>
                    <label for="nombre">Nombre</label>
                </span>

                <h4 class="col-12">Añade una descripción</h4>
                <span class="ui-float-label">
                    <input [formControl]="formularioCategoria.controls['descripcion']" id="descripcion" name="descripcion" type="text" size="30" pInputText>
                    <label for="descripcion">Nombre</label>
                </span>
            </div>


            <button pButton type="submit" label="CREAR" class="col-12 ui-button-info"></button>
        </form>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-3" *ngFor="let categoria of listaCategorias">
            <div class="col-12">
                <img class="cat-imagen mx-auto d-block" [src]="categoria.imagen" alt="FOTO">
                <h5 class="col-12 text-center">{{ categoria.nombre }}</h5>
            </div>
            <div class="col-12">
                <button class="col-6" pButton type="button" label="Borrar" class="ui-button-rounded ui-button-danger" (click)="borrarCategoria(categoria.id)"></button>
            </div>
        </div>

    </div>


</div>