<div class="ui-g-6">
  <h3>Nueva actividad!</h3>

  <form>
    <h4>Nombre</h4>
    <span class="ui-float-label">
      <input id="nombre" type="text" size="30" pInputText>
      <label for="nombre">Nombre</label>
    </span>

    <h4>Categoría</h4>
    <p-multiSelect [options]="listaCategorias" defaultLabel="Selecciona una categoría" filterPlaceHolder="Busca aquí" optionLabel="nombre" filter="true"></p-multiSelect>

    <h4 class="first">Descripción</h4>
    <textarea rows="5" cols="30" pInputTextarea></textarea>

    <h4>Nivel</h4>
    <p-dropdown [options]="niveles" placeholder="Selecciona un nivel" optionLabel="nombre" [showClear]="true"></p-dropdown>

    <h4>Distancia</h4>
    <span class="ui-float-label">
      <input id="distancia" type="text" size="10" pInputText>
      <label for="distancia">Km</label>
    </span>

    <div>
      <h4>Fecha:</h4>
      <span class="ui-float-label">Día</span>
      <p-calendar [locale]="es" dateFormat="dd/mm/yy" [showTime]="true" [showIcon]="true"></p-calendar>
    </div>

    <h4>Imágen para actividad</h4>
    <p-fileUpload mode="basic" name="avatar" url="./upload.php" accept="image/*" maxFileSize="1000000" multiple="multiple"></p-fileUpload>

    <h4>Punto de encuentro</h4>
    <div><img src="" alt="AGREGAR MAPA DE GMAPS"></div>

    <button pButton type="submit" label="PUBLICAR ACTIVIDAD" class="ui-button-info"></button>

  </form>

</div>


<div class="ui-g-6">
  <h3>Vista preliminar!</h3>
</div>
