<div class="container fondoTransparente" style="z-index: 1000">

    <div class="row">

        <h3 class="text-center col-12 titulo">{{ titulo }}</h3>

        <div class="col-sm-12 col-md-6">

            <form #formularioActividad="ngForm" (submit)="crearActividad(formularioActividad.value)">

                <div class="col-12">
                    <h4>Imágen para actividad</h4>
                    <input class="ui-button" type="file" accept="image/*" name="imagen" id="imagen" (change)="cargarImagen($event)" required>
                    <p class="alerta alert-danger" *ngIf="rellenarImagen">* Se debe elegir una imagen para la actividad!!</p>
                </div>

                <div class="col-12">
                    <h4>Nombre</h4>
                    <span class="ui-float-label">
                    <input class="col-10" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="actividad.nombre" type="text" size="30" pInputText required minlength="5" maxlength="40">
                    <label for="nombre">Nombre</label>
                    <div class="col-12" *ngIf="nombre.touched && !nombre.valid">
                        <div *ngIf="nombre.errors?.required">*El nombre es requerido</div>
                        <div *ngIf="nombre.errors?.minlength">*El nombre debe tener al menos {{nombre.errors.minlength.requiredLength}} caracteres</div>            
                    </div>

                  </span>
                </div>

                <div class="col-12">
                    <h4>Categoría</h4>
                    <p-multiSelect class="col-10" [options]="listaCategorias" name="categorias" [(ngModel)]="actividad.categorias" defaultLabel="Selecciona una categoría" filterPlaceHolder="Busca aquí" optionLabel="nombre" filter="true"></p-multiSelect>
                </div>

                <div class="col-12">
                    <h4 class="first">Descripción</h4>
                    <textarea class="col-10" id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="actividad.descripcion" rows="5" cols="30" pInputTextarea required minlength="50"></textarea>
                    <div class="col-12" *ngIf="descripcion.touched && !descripcion.valid">
                        <div *ngIf="descripcion.errors?.required">*La descripción es requerida</div>
                        <div *ngIf="descripcion.errors?.minlength">*Debe tener al menos {{descripcion.errors.minlength.requiredLength}} caracteres</div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h4>Nivel</h4>
                            <p-rating stars="3" [(ngModel)]="actividad.nivel" #nivel="ngModel" name="nivel" id="nivel" [cancel]="false" required></p-rating>
                            <div class="col-12" *ngIf="nivel.touched && !nivel.valid">
                                <div *ngIf="nivel.errors?.required">*El nivel es requerido</div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <h4>Distancia {{ actividad.distancia }}km:</h4>
                            <span class="ui-float-label">
                                <p-slider class="col-sm-10 col-md-5" [(ngModel)]="actividad.distancia" name="distancia" id="distancia" #distancia="ngModel" [min]="distanciaMinima" [max]="distanciaMaxima" id="distancia" [style]="{'width':'14em'}" [animate]="true" required minlength="1"></p-slider>
                                    <label for="distancia">Km</label>
                            </span>
                            <div class="col-12" *ngIf="distancia.touched && !distancia.valid">
                                <div *ngIf="distancia.errors?.required">*La distancia es requerida</div>
                                <div *ngIf="distancia.errors?.minlength">*La distancia mínima es de {{distancia.errors.minlength.requiredLength}}Km</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <h4>Día:</h4>
                    <p-calendar [locale]="es" name="fechaInicio" id="fechaInicio" #fechaInicio="ngModel" (onSelect)="cambiarFechaParseada(actividad.fechaInicio)" [(ngModel)]="actividad.fechaInicio" dateFormat="dd/mm/yy" [showTime]="true" [showIcon]="true" hourFormat="24"
                        [numberOfMonths]="2" required></p-calendar>
                    <div class="col-12" *ngIf="fechaInicio.touched && !fechaInicio.valid">
                        <div *ngIf="fechaInicio.errors?.required">*La fecha es requerida</div>
                    </div>
                    <p class="alerta alert-danger" *ngIf="esFechaIncorrecta">*Elija una fecha correcta</p>
                </div>
                <button *ngIf="esNuevaActividad" [disabled]="formularioActividad.invalid" (click)="crearActividad(formularioActividad.value)" pButton type="button" label="PUBLICAR ACTIVIDAD" class="btn col-12 button"></button>
                <button *ngIf="!esNuevaActividad" [disabled]="formularioActividad.invalid" (click)="actualizarActividad(formularioActividad.value)" pButton type="button" label="ACTUALIZAR ACTIVIDAD" class="btn col-12 button"></button>

            </form>

        </div>

        <!-- VISTA PRELIMINAR -->
        <div class="col-sm-12 col-md-6">
            <h3 class="col-12 text-center">Vista preliminar!</h3>
            <app-tarjeta-salida [salida]="actividad" [fechaInicioParseada]="fechaInicioParseada"></app-tarjeta-salida>
        </div>

    </div>



</div>