<div class="container">
    <h3 class="text-center">Perfil de usuario: <strong>{{ usuario.nombre }}</strong><small> {{ usuario.apellido }}</small></h3>
    <div class="row">

        <form class="col-12" [formGroup]="formularioActualizacion" (submit)="actualizarUsuario()">
            <div class="col-12">
                <p-inplace class="col-12" closable="true">
                    <span pInplaceDisplay class="col-12">
                        <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                        <img class="col-sm-12 col-md-6 mx-auto d-block ui-button" [src]="usuario.avatar" name="avatar">
                    </span>
                    <span pInplaceContent class="col-10">
                        <img class="col-4 " [src]="imagenAvatar" name="avatar" alt="AVATAR">
                        <input name="avatar" class="col-6" type="file" accept="image/*" name="imagen" (change)="cargarImagen($event)">
                        <!--<p-dropdown class="ui-grid-col-6" [options]="" placeholder="Elige avatar" optionLabel="" [showClear]="true" filter="true"></p-dropdown>-->
                    </span>
                </p-inplace>
            </div>

            <div id="cajaActualizado">
                <div class="row caja">
                    <span class="col-2">Nombre:</span>
                    <p-inplace class="col-10" closable="true">
                        <span pInplaceDisplay class="col-12">
                            <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                            {{ usuario.nombre }} {{ usuario.apellido }}
                        </span>
                        <span pInplaceContent class="col-12">
                            <input [formControl]="formularioActualizacion.controls['nombre']" name="nombre" type="text" pInputText>
                            <input [formControl]="formularioActualizacion.controls['apellido']" name="apellido" type="text" pInputText>
                        </span>
                    </p-inplace>
                </div>


                <div class="row caja">
                    <span class="col-2">Fecha:</span>
                    <p-inplace class="col-10" closable="true">
                        <span pInplaceDisplay class="col-12">
                            <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                            {{ fechaNacimientoParseada }}
                        </span>
                        <span pInplaceContent class="col-12">
                            <p-calendar class="col-12" [locale]="es" [formControl]="formularioActualizacion.controls['fechaNacimiento']" [showIcon]="true" dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="rangoAnios" [monthNavigator]="true"></p-calendar>
                        </span>
                    </p-inplace>
                </div>


                <div class="row caja">
                    <span class="col-2">Sexo:</span>
                    <p-inplace class="col-10" closable="true">
                        <span pInplaceDisplay class="col-12">
                            <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                            {{ usuario.sexo }}
                        </span>
                        <span pInplaceContent>
                            <div class="col-12" style="width:250px;margin-bottom:10px">
                                <p-radioButton class="col-12" [formControl]="formularioActualizacion.controls['sexo']" name="sexo" value="mujer" label="Mujer"></p-radioButton>
                                <p-radioButton class="col-12" [formControl]="formularioActualizacion.controls['sexo']" name="sexo" value="hombre" label="Hombre"></p-radioButton>
                            </div>
                        </span>
                    </p-inplace>
                </div>


                <div class="row caja">
                    <span class="col-2">Provincia:</span>
                    <p-inplace class="col-10" closable="closable">
                        <span pInplaceDisplay class="col-12">
                            <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                            {{ usuario.provincia['nombre'] }}
                        </span>
                        <span pInplaceContent class="col-12">
                            <p-dropdown [formControl]="formularioActualizacion.controls['provincia']" name="provincia" [options]="listaProvincias" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown>
                        </span>
                    </p-inplace>
                </div>

                <div class="row caja">
                    <span class="col-2">Password:</span>
                    <p-inplace class="col-10" closable="closable">
                        <span pInplaceDisplay class="col-12">
                            <button pButton class="col-2 ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                            ********
                        </span>
                        <span pInplaceContent class="col-12" t>
                            <span>Nuevo password:</span><input [formControl]="formularioActualizacion.controls['password']" name="password" pPassword type="password" value="********" />
                        <!--<span>Repite password:</span><input formControlName="formularioActualizacion.controls['password2']" pPassword type="password" value="********" />-->
                        </span>
                    </p-inplace>
                </div>

                <div class="row caja">
                    <span class="col-2">Sobre mi:</span>
                    <p-inplace class="col-10" closable="closable">
                        <span pInplaceDisplay class="col-12">
                            <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                            {{ usuario.info }}
                        </span>
                        <span pInplaceContent class="col-12">
                            <input [formControl]="formularioActualizacion.controls['info']" name="info" type="text"
                                pInputText>
                        </span>
                    </p-inplace>
                </div>
            </div>

            <button pButton class="col-12" type="submit" icon="pi pi-pencil" iconPos="right" label="Guardar"></button>
        </form>
    </div>


</div>