<div class="container">
    <h3 class="titulo text-center">Perfil de usuario: <strong>{{ usuario.nombre }}</strong><small> {{ usuario.apellido }}</small></h3>

    <div class="row">

        <form class="col-12" [formGroup]="formularioActualizacion" (submit)="actualizarUsuario()">

            <div class="col-6 mx-auto d-block">
                <p-inplace class="col-12" closable="true">
                    <span pInplaceDisplay>
                        <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                        <img class="col-sm-12 col-md-6 mx-auto d-block ui-button" [src]="usuario.avatar" name="avatar">
                    </span>
                    <span pInplaceContent class="col-10">
                        <img class="col-4" [src]="imagenAvatar" name="avatar" alt="AVATAR">
                        <input name="avatar" class="col-6" type="file" accept="image/*" name="imagen" (change)="cargarImagen($event)">
                    </span>
                </p-inplace>
            </div>
            <div class="col-6 mx-auto d-block">
                <div id="cajaActualizado">
                    <div class="row caja">
                        <span class="col-4">Nombre:</span>
                        <p-inplace class="col-8" closable="true">
                            <span pInplaceDisplay class="col-12">
                                <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                                {{ usuario.nombre }} {{ usuario.apellido }}
                            </span>
                            <span pInplaceContent class="col-12">
                                <input [formControl]="formularioActualizacion.controls['nombre']" name="nombre" type="text" pInputText>
                                <input [formControl]="formularioActualizacion.controls['apellido']" name="apellido" type="text" pInputText>
                            </span>
                            <div *ngIf="formularioActualizacion.get('nombre').touched && !formularioActualizacion.get('nombre').valid" class="form-control-feedback">
                                <p *ngIf="formularioActualizacion.get('nombre').hasError('required')">*El nombre es un campo requerido</p>
                            </div>
                            <div *ngIf="formularioActualizacion.get('apellido').touched && !formularioActualizacion.get('apellido').valid" class="form-control-feedback">
                                <p *ngIf="formularioActualizacion.get('apellido').hasError('required')">*El apellido es un campo requerido</p>
                            </div>
                        </p-inplace>
                    </div>


                    <div class="row caja">
                        <span class="col-4">Fecha:</span>
                        <p-inplace class="col-8" closable="true">
                            <span pInplaceDisplay class="col-12">
                                <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                                {{ fechaNacimientoParseada }}
                            </span>
                            <span pInplaceContent class="col-12">
                                <p-calendar class="col-12" [locale]="es" [formControl]="formularioActualizacion.controls['fechaNacimiento']" [showIcon]="true" dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="rangoAnios" [monthNavigator]="true"></p-calendar>
                            </span>
                            <div *ngIf="formularioActualizacion.get('fechaNacimiento').touched && !formularioActualizacion.get('fechaNacimiento').valid" class="form-control-feedback">
                                <p *ngIf="formularioActualizacion.get('fechaNacimiento').hasError('required')">*El fecha de nacimiento es un campo requerido</p>
                            </div>

                        </p-inplace>
                    </div>


                    <div class="row caja">
                        <span class="col-4">Sexo:</span>
                        <p-inplace class="col-8" closable="true">
                            <span pInplaceDisplay class="col-12">
                                <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                                {{ usuario.sexo }}
                            </span>
                            <span pInplaceContent>
                                <div class="col-12" style="width:250px;margin-bottom:10px">
                                    <p-radioButton class="col-12" [formControl]="formularioActualizacion.controls['sexo']" name="sexo" value="mujer" label="Mujer"></p-radioButton>
                                    <p-radioButton class="col-12" [formControl]="formularioActualizacion.controls['sexo']" name="sexo" value="hombre" label="Hombre"></p-radioButton>
                                </div>
                            </span>
                            <div *ngIf="formularioActualizacion.get('sexo').touched && !formularioActualizacion.get('sexo').valid" class="form-control-feedback">
                                <p *ngIf="formularioActualizacion.get('sexo').hasError('required')">*El fecha de nacimiento es un campo requerido</p>
                            </div>
                        </p-inplace>
                    </div>


                    <div class="row caja">
                        <span class="col-4">Provincia:</span>
                        <p-inplace class="col-8" closable="closable">
                            <span pInplaceDisplay class="col-12">
                                <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                                {{ usuario.provincia['nombre'] }}
                            </span>
                            <span pInplaceContent class="col-12">
                                <p-dropdown [formControl]="formularioActualizacion.controls['provincia']" name="provincia" [options]="listaProvincias" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown>
                            </span>
                            <div *ngIf="formularioActualizacion.get('provincia').touched && !formularioActualizacion.get('provincia').valid" class="form-control-feedback">
                                <p *ngIf="formularioActualizacion.get('provincia').hasError('required')">*El fecha de nacimiento es un campo requerido</p>
                            </div>
                        </p-inplace>
                    </div>

                    <div class="row caja">
                        <span class="col-4">Sobre mi:</span>
                        <p-inplace class="col-8" closable="closable">
                            <span pInplaceDisplay class="col-12">
                                <button pButton class="ui-button-icon-only btn-primary" icon="pi pi-pencil"></button>
                                {{ usuario.info }}
                            </span>
                            <span pInplaceContent class="col-12">
                                <input [formControl]="formularioActualizacion.controls['info']" name="info" type="text"
                                    pInputText>
                            </span>
                        </p-inplace>
                    </div>
                </div>
            </div>
            <button pButton class="btn col-6 mx-auto d-block" type="submit" icon="pi pi-pencil" iconPos="right" label="Guardar"></button>
        </form>
    </div>
</div>