.caja {
    margin-bottom: 20px;
}

button {
    margin-right: 20px;
}

#cajaActualizado {
    border: 2px solid black;
}

button {
    background-color: #dedede;
    border-radius: 5px;
    border-bottom: 4px solid #F5AE15;
    font-weight: bolder;
    margin-bottom: 10px;
}

.btn {
    background: #F5AE15;
}


/*
.caja {
    margin: 10px;
    margin-left: 10px;
}*/