<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalMessage">Mandar mensaje nuevo</a>
</div>

<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="formularioMensaje">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Mensaje</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-12 modal-body">
                    <div class="col-12 md-form mb-5">
                        <label class="col-sm-12 col-md-6" for="destinatario"><i class="fa fa-user-circle prefix grey-text"></i> Destinatario</label>
                        <p-dropdown class="col-sm-12 col-md-6" id="destinatario" formControlName="idUsuarioReceptor" [options]="listaAmigos" placeholder="Elige amigo" [showClear]="true" filter="true" [ngStyle]="{'border-color': formularioMensaje.get('idUsuarioReceptor').valid || formularioMensaje.get('idUsuarioReceptor').pristine ? 'gray' : 'red'}"></p-dropdown>
                    </div>

                    <div class="col-12 md-form mb-5">
                        <label class="col-12" for="asunto"><i class="fa fa-envelope prefix grey-text"></i> Asunto</label>
                        <input class="col-12" formControlName="asunto" name="asunto" id="asunto" type="text" size="30" [ngStyle]="{'border-color': formularioMensaje.get('asunto').valid || formularioMensaje.get('asunto').pristine ? 'gray' : 'red'}" pInputText>
                        <div *ngIf="formularioMensaje.get('asunto').dirty && !formularioMensaje.get('asunto').valid" class="form-control-feedback">
                            <p *ngIf="formularioMensaje.get('asunto').hasError('required')">*Introduce asunto</p>
                        </div>
                    </div>

                    <div class="col-12 md-form mb-4">
                        <label class="col-12" for="mensaje"><i class="fa fa-envelope prefix grey-text"></i> Mensaje</label>
                        <textarea class="col-12" formControlName="cuerpoMensaje" name="cuerpoMensaje" id="cuerpoMensaje" rows="5" cols="30" pInputTextarea [ngStyle]="{'border-color': formularioMensaje.get('cuerpoMensaje').valid || formularioMensaje.get('cuerpoMensaje').pristine ? 'gray' : 'red'}"></textarea>
                        <div *ngIf="formularioMensaje.get('cuerpoMensaje').dirty && !formularioMensaje.get('cuerpoMensaje').valid" class="form-control-feedback">
                            <p *ngIf="formularioMensaje.get('cuerpoMensaje').hasError('required')">*Introduce asunto</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="col-6 btn btn-default btn-primary" [disabled]="formularioMensaje.invalid" data-dismiss="modal" (click)="mandarMensaje()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <p-dataScroller class="col-md-12 col-lg-4" [value]="listaMensajes" [rows]="10">
            <p-header>
                Tus mensajes ({{ listaMensajes.length }})
            </p-header>
            <ng-template let-mensaje pTemplate="item" let-i="index">
                <div [ngClass]="{ 'leido': mensaje.leido }" class="ui-g mensaje-item ui-button">
                    <div class="ui-g-12">
                        <div class="ui-g" (click)="cargarMensaje(mensaje)">
                            <div class="ui-g-2 ui-sm-12 d-none d-sm-block">Fecha </div>
                            <div class="ui-g-10 ui-sm-12">{{ mensaje.fecha | date:'medium' }}</div>

                            <div class="ui-g-2 ui-sm-6 d-none d-sm-block">Asunto: </div>
                            <div class="ui-g-10 ui-sm-6">{{ mensaje.asunto }}</div>
                        </div>
                        <button class="ui-g-12 ui-sm-6 d-none d-sm-block" pButton type="button" label="Responder" data-toggle="modal" data-target="#modalMessage" icon="pi pi-file" style="margin-right: .25em"></button>
                        <button class="ui-g-12 ui-sm-6 d-none d-sm-block ui-button-secondary" pButton type="button" label="Borrar" (click)="borrarMensaje(mensaje.id)" icon="pi pi-times"></button>
                    </div>

                </div>
            </ng-template>
        </p-dataScroller>

        <div class="col-md-12 col-lg-8">

            <app-tarjeta-mensaje *ngIf="listaMensajes.length > 0" [mensaje]="mensaje"></app-tarjeta-mensaje>

            <!-- Si el usuariuo no tiene ningún mensaje-->
            <div class="row" *ngIf="listaMensajes.length == 0">
                <span class="col-12 badge-info text-center">No tienes ningún mensaje :(</span>
                <img class="mx-auto d-block" src="../../../assets/imagenes/mail.png" alt="NO HAY MENSAJES">
            </div>

        </div>
    </div>
</div>