<div class="container">
    <button pButton type="button" *ngIf="crearMensaje == false" (click)="mostrarFormularioMensaje(true)" label="Nuevo mensaje" icon="pi pi-pencil" class="ui-button-icon-only ui-button-info ui-editor-toolbar"></button>
    <button pButton type="button" *ngIf="crearMensaje == true" (click)="mostrarFormularioMensaje(false)" label="Cancelar" icon="pi pi-times" class="ui-button-icon-only ui-button-info ui-editor-toolbar"></button>
</div>


<!-- Button trigger modal -->
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formMensaje">
        Crear nuevo mensaje
    </button>
</div>

<!-- Modal 
<div class="modal fade" id="formMensaje" tabindex="-1" role="dialog" aria-labelledby="mensajeTitulo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mensajeTitulo">Nuevo mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div [formGroup]="formularioMensaje" *ngIf="crearMensaje" class="ui-g" style="z-index: 1000" (submit)="mandarMensaje()">
                    <form class="ui-g-12 ui-megamenu-vertical">
                        <label>Destinatario:</label>
                        <p-dropdown [formControl]="formularioMensaje.controls['idUsuarioReceptor']" [options]="listaAmigos" placeholder="Elige amigo" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown>
                        <label>Asunto:</label>
                        <input [formControl]="formularioMensaje.controls['asunto']" id="asunto" type="text" size="30" pInputText>
                        <label>Mensaje:</label>
                        <textarea [formControl]="formularioMensaje.controls['cuerpoMensaje']" name="mensaje" rows="5" cols="30" pInputTextarea></textarea>
                        <button pButton type="submit" label="Enviar" icon="pi pi-pencil" class="ui-button-info ui-editor-toolbar"></button>
                        <button pButton type="button" label="Cancelar" (click)="mostrarFormularioMensaje(false)" icon="pi pi-times" class="ui-button-info ui-editor-toolbar"></button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
-->


<div [formGroup]="formularioMensaje" *ngIf="crearMensaje" class="ui-g" style="z-index: 1000" (submit)="mandarMensaje()">
    <form class="ui-g-12 ui-megamenu-vertical">
        <label>Destinatario:</label>
        <p-dropdown [formControl]="formularioMensaje.controls['idUsuarioReceptor']" [options]="listaAmigos" placeholder="Elige amigo" optionLabel="nombre" [showClear]="true" filter="true"></p-dropdown>
        <label>Asunto:</label>
        <input [formControl]="formularioMensaje.controls['asunto']" id="asunto" type="text" size="30" pInputText>
        <label>Mensaje:</label>
        <textarea [formControl]="formularioMensaje.controls['cuerpoMensaje']" name="mensaje" rows="5" cols="30" pInputTextarea></textarea>
        <button pButton type="submit" label="Enviar" icon="pi pi-pencil" class="ui-button-info ui-editor-toolbar"></button>
        <button pButton type="button" label="Cancelar" (click)="mostrarFormularioMensaje(false)" icon="pi pi-times" class="ui-button-info ui-editor-toolbar"></button>
    </form>
</div>

<div class="container">

    <div class="row">

        <p-dataScroller class="col-md-12 col-lg-4" [value]="listaMensajes" [rows]="10">
            <p-header>
                Tus mensajes ({{ listaMensajes.length }})
            </p-header>
            <ng-template let-mensaje pTemplate="item" let-i="index">
                <div class="ui-g mensaje-item ui-button">
                    <div class="ui-g-12">
                        <div class="ui-g" (click)="cargarMensaje(mensaje)">
                            <div class="ui-g-2 ui-sm-12 d-none d-sm-block">Fecha </div>
                            <div class="ui-g-10 ui-sm-12">{{ mensaje.fecha }}</div>

                            <div class="ui-g-2 ui-sm-6 d-none d-sm-block">Usuario: </div>
                            <div class="ui-g-10 ui-sm-6">{{ mensaje.idUsuarioEmisor }}</div>

                            <div class="ui-g-2 ui-sm-6 d-none d-sm-block">Asunto: </div>
                            <div class="ui-g-10 ui-sm-6">{{ mensaje.asunto }}</div>
                        </div>
                        <button class="ui-g-12 ui-sm-6 d-none d-sm-block" pButton type="button" label="Responder" (click)="responderMensaje(mensaje.idUsuarioEmisor)" icon="pi pi-file" style="margin-right: .25em"></button>
                        <button class="ui-g-12 ui-sm-6 d-none d-sm-block ui-button-secondary" pButton type="button" label="Borrar" (click)="borrarMensaje(mensaje.id)" icon="pi pi-times"></button>
                    </div>

                </div>
            </ng-template>
        </p-dataScroller>


        <div class="col-md-12 col-lg-8">

            <app-tarjeta-mensaje *ngIf="listaMensajes.length > 0" [mensaje]="mensaje"></app-tarjeta-mensaje>

            <!-- Si el usuariuo no tiene ningún mensaje-->
            <div class="row" *ngIf="listaMensajes.length == 0">
                <span class="col-12 badge-info text-center">No tienes ningún mensaje :(</span>
                <img class="mx-auto d-block" src="../../../assets/imagenes/mail.png" alt="NO HAY MENSAJES">
            </div>

        </div>


    </div>


</div>