#botonLogin {
    margin-right: 15px;
}

nav {
    background: white;
    border-bottom: 4px solid black;
}

a {
    color: #F5AE15;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    font-size: 30px;
}