<nav class="ui-g-12">
  <a>QUIERO DEPORTE</a>

  <div>
    <ul>
      <li>
        <a routerLink="inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <a routerLink="viajes" routerLinkActive="active">Viajes</a>
      </li>
      <li>
        <a routerLink="salidas" routerLinkActive="active">Salidas</a>
      </li>
      <li>
        <a routerLink="calendario" routerLinkActive="active">Calendario</a>
      </li>
      <li>
        <a routerLink="acerca" routerLinkActive="active">Conócenos!</a>
      </li>
    </ul>

    <form>
      <input type="search" placeholder="Search" aria-label="Search">
      <button type="submit">Search</button>
    </form>
  </div>
</nav>
