<nav class="col navbar navbar-expand-lg">

    <img class="col-sm-12 col-md-6 col-lg-3" routerLink="inicio" src="../../../assets/imagenes/logo2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-9 collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="viajes" routerLinkActive="active">Viajes  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="salidas" routerLinkActive="active">Salidas  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="calendario" routerLinkActive="active">Calendario  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="acerca" routerLinkActive="active">Conócenos!  <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input #textoBusqueda class="form-control mr-sm-2" type="search" placeholder="Busca actividades!" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="button" (click)="buscarActividades(textoBusqueda.value)">Buscar</button>
        </form>

    </div>

</nav>

<div class="menuUsuario">
    <button id="botonLogin" *ngIf="!usuarioLogado" routerLink="login" class="btn" type="submit">Inicia sesión</button>
    <app-info-sesion-menu *ngIf="usuarioLogado"></app-info-sesion-menu>
</div>