#botonLogin {
    margin-right: 15px;
}

nav {
    background: white;
    border-bottom: 4px solid black;
}

a {
    color: #F5AE15;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    font-size: 30px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: black;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: #F5AE15;
    background-size: 100% 100%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

img {
    cursor: pointer;
    border: none;
}

.container {
    border: 2px solid black
}

.menuUsuario {
    background: none;
}

.btn {
    background-color: #e6bf14;
    color: #FFFFFF;
    font-size: 19px;
    border-radius: 5px;
    border-bottom: 4px solid black;
    color: black;
}

.btn:hover,
.btn:focus {
    background-color: black!important;
    color: #e6bf14;
    font-weight: bolder;
    border-bottom: 4px solid #e6bf14!important;
}