<div class="container">

    <div class="row">

        <p-dataScroller class="col-md-12 col-lg-6" [value]="listaViajes" [rows]="10" [inline]="true" scrollHeight="500px">

            <p-header>
                LISTA DE VIAJES
            </p-header>

            <ng-template let-viaje pTemplate="item">

                <app-tarjeta-viaje [viaje]="viaje"></app-tarjeta-viaje>

                <div>
                    <button pButton type="button" label="EDITAR" class="ui-button-rounded ui-button-warning"></button>
                    <button pButton type="button" label="BORRAR" class="ui-button-rounded ui-button-danger"></button>
                </div>

            </ng-template>

        </p-dataScroller>


        <p-dataScroller class="col-md-12 col-lg-6" [value]="listaActividades" [rows]="10" [inline]="true" scrollHeight="500px">

            <p-header>
                LISTA DE ACTIVIDADES
            </p-header>

            <ng-template let-salida pTemplate="item">

                <app-tarjeta-salida [salida]="salida"></app-tarjeta-salida>
                <button pButton type="button" label="EDITAR" class="ui-button-rounded ui-button-warning"></button>
                <button pButton type="button" label="BORRAR" class="ui-button-rounded ui-button-danger" (click)="borrarActividad(salida.id)"></button>

            </ng-template>

        </p-dataScroller>

    </div>

</div>


<div class="container" style="z-index: 1000">

    <div class="row">

        <h3 class="text-center col-12">Nuevo viaje!</h3>

        <div class="col-sm-12 col-md-6">

            <form #formularioActividadAdmin="ngForm" (submit)="crearViaje(formularioActividadAdmin.value)">

                <div class="col-12">
                    <h4>Imágen para actividad</h4>
                    <input type="file" accept="image/*" name="imagen" (change)="cargarImagen($event)">
                </div>

                <div class="col-12">
                    <h4>Nombre</h4>
                    <span class="ui-float-label">
                  <input id="nombre" name="nombre" [(ngModel)]="viaje.nombre" type="text" size="30" pInputText>
                  <label for="nombre">Nombre</label>
              </span>
                </div>

                <div class="col-12">
                    <h4>Categoría</h4>
                    <p-multiSelect [options]="listaCategorias" name="categorias" [(ngModel)]="viaje.categorias" defaultLabel="Selecciona una categoría" filterPlaceHolder="Busca aquí" optionLabel="nombre" filter="true"></p-multiSelect>
                </div>

                <div class="col-12">
                    <h4 class="first">Descripción</h4>
                    <textarea name="descripcion" [(ngModel)]="viaje.descripcion" rows="5" cols="30" pInputTextarea></textarea>
                </div>

                <div class="col-12">
                    <h4>Nivel</h4>
                    <p-rating stars="3" [(ngModel)]="viaje.nivel" name="nivel" [cancel]="false"></p-rating>
                </div>

                <div class="col-12">
                    <h4>Distancia {{ viaje.distancia }} km:</h4>
                    <span class="ui-float-label">
                  <p-slider [(ngModel)]="viaje.distancia" name="distancia" [min]="distanciaMinima" [max]="distanciaMaxima" id="distancia" [style]="{'width':'14em'}" [animate]="true"></p-slider>
                  <label for="distancia">Km</label>
               </span>
                </div>

                <div class="col-12"></div>

                <div class="col-12">
                    <h4>Fecha Inicio:</h4>
                    <span class="ui-float-label">Día</span>
                    <p-calendar [locale]="es" name="fechaInicio" [(ngModel)]="viaje.fechaInicio" dateFormat="yy-mm-dd" [showTime]="true" [showIcon]="true" hourFormat="24"></p-calendar>
                </div>

                <div class="col-12">
                    <h4>Fecha Fin:</h4>
                    <span class="ui-float-label">Día</span>
                    <p-calendar [locale]="es" name="fechaFin" [(ngModel)]="viaje.fechaFin" dateFormat="yy-mm-dd" [showTime]="true" [showIcon]="true" hourFormat="24"></p-calendar>
                </div>

                <div class="col-12">
                    <h4>Precio {{ viaje.precio }} €:</h4>
                    <input type="number" [(ngModel)]="viaje.precio" name="precio">
                    <span class="ui-float-label">
        <p-slider [(ngModel)]="viaje.precio" name="precio" [min]="precioMinimo" [max]="precioMaximo" id="precio" [style]="{'width':'14em'}" [animate]="true"></p-slider>
        <label for="precio">€</label>
      </span>
                </div>

                <div class="col-12">
                    <h4>Plazas {{ viaje.plazas }}:</h4>
                    <span class="ui-float-label">
        <p-slider [(ngModel)]="viaje.plazas" name="plazas" [min]="plazasMinimas" [max]="plazasMaximas" id="plazas" [style]="{'width':'14em'}" [animate]="true"></p-slider>
      </span>
                </div>


                <div class="col-12"> FALTA MAPA GOOGLE
                    <h4>Punto de encuentro</h4>
                </div>

                <button pButton type="submit" label="PUBLICAR ACTIVIDAD" class="ui-button-info"></button>

            </form>

            {{ formularioActividadAdmin.value | json }} {{ imagen }}


        </div>

        <div class="col-sm-12 col-md-6">
            <h3 class="col-12 text-center">Vista preliminar!</h3>
            <app-tarjeta-viaje [viaje]="viaje"></app-tarjeta-viaje>
        </div>

    </div>