<div class="ui-g-10">
  <p>NUEVA LISTA DE ACTIVIDADES</p>

  <p> AQUI TIENE QUE CARGAR UN LISTADO CON TODAS ACTIVIDADES CON PAGINACION</p>

  <div class="ui-g-6">
  <ul>
    <h3>Lista de Viajes</h3>
    <li>Actividad 1 <button>EDITAR</button><button>BORRAR</button></li>
    <li>Actividad 2 <button>EDITAR</button><button>BORRAR</button></li>
    <li>Actividad 3 <button>EDITAR</button><button>BORRAR</button></li>
    <li>Actividad 4 <button>EDITAR</button><button>BORRAR</button></li>
    <li>Actividad 5 <button>EDITAR</button><button>BORRAR</button></li>
  </ul>
  </div>

</div>
