p-card {
    border-bottom: 4px solid #F5AE15;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: -2px -2px 2px #F5AE15;
    margin-right: 10px;
}

.avatar:hover {
    width: 110px;
    height: 110px;
}