<p-card title="NOMBRE SALIDA" subtitle="Categorías" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="../../../assets/imagenes/salida1.jpg">
    </p-header>
    <div> DESCRIPCIÓN: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
    <p-footer>
        <button pButton type="button" label="FECHA" icon="pi pi-check" style="margin-right: .25em" class="ui-button-secondary">FECHA</button>
        <button pButton type="button" label="NIVEL" icon="pi pi-times" class="ui-button-secondary">NIVEL</button>
        <button pButton type="button" label="VER MAS" icon="pi pi-times" class="ui-button-secondary">Ver más...</button>
    </p-footer>
</p-card>
