<p-card class="ui-g-10" [title]="salida.nombre" subtitle="Categorías" styleClass="ui-card-shadow">
    <p-header>
        <img alt="SALIDA" [src]="salida.imagen">
    </p-header>
    <div>{{ salida.descripcion }}</div>
    <p-footer>
      <div>{{ salida.fechaInicio }}</div>
      <p-rating  readonly="true" stars="3" [ngModel]="salida.nivel" name="nivel" [cancel]="false"></p-rating>
      <button pButton (click)="verSalida()" type="button" icon="pi pi-check" iconPos="right" label="VER MAS"></button>
      <button pButton type="button" icon="pi pi-check" iconPos="right" label="APÚNTATE!"></button>
    </p-footer>
</p-card>
