<p-card class="ui-g" [title]="salida.nombre" subtitle="Categorías" styleClass="ui-card-shadow">
    <p-header class="ui-g-12">
        <img alt="SALIDA" [src]="salida.imagen">
    </p-header>
    <div class="ui-g-9">{{ salida.descripcion }}</div>
    <div class="ui-g-3">
      <!-- SOLUCIONAR LO DEL USUARIO-->
      <img class="ui-g-12 rounded-circle" alt="USUARIO" src="usuario.avatar">
      <p-rating class="ui-g-12" readonly="true" stars="5" [ngModel]="3" name="valoracion" [cancel]="false"></p-rating>
      <p class="ui-g-12">usuario.nombre</p>
    </div>
    <div class="ui-g-9">
     <p>Ya somos </p><span class="badge-info">{{ salida.listaParticipantes }}</span>
    </div>
    <p-footer>
      <div>{{ salida.fechaInicio }}</div>
      <p>Dificultad</p>
      <p-rating  readonly="true" stars="3" [ngModel]="salida.nivel" name="nivel" [cancel]="false"></p-rating>
      <button pButton (click)="verSalida()" type="button" icon="pi pi-check" iconPos="right" label="VER MAS"></button>
      <button pButton type="button" icon="pi pi-check" iconPos="right" label="APÚNTATE!"></button>
    </p-footer>
</p-card>
