.cajaLogin {
    margin: 50px auto;
    width: 500px;
    background: #2d2d32;
    color: #FFFFFF;
    border-radius: 5px;
}

.seccionPrincipal {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.btn {
    background-color: #e6bf14;
    color: #FFFFFF;
    font-size: 19px;
    border-radius: 5px;
    border-bottom: 4px solid black;
    margin-top: 10px;
    color: black;
}

.btn:hover,
.btn:focus {
    background-color: black!important;
    color: #e6bf14;
    font-weight: bolder;
    border-bottom: 4px solid #e6bf14!important;
}