.cajaLogin {
    margin: 50px auto;
    width: 500px;
    background: #2d2d32;
    color: #FFFFFF;
    border-radius: 5px;
}

.seccionPrincipal {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.btn {
    background-color: #27c2a5;
    color: #FFFFFF;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
    margin-top: 10px;
}

.btn:hover,
.btn:focus {
    background-color: #25a890!important;
    border-bottom: 4px solid #25a890!important;
}