<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="titulo col-12 text-center">Conócenos!!</h2>
            <p class="col12 text-justify">
                <strong>Meet'nFiT</strong> es una plataforma online que tiene como principal objetivo unir a las personas a través del deporte en una gran comunidad de deportitas, que disfrutan de realizar diferentes deportes, compartiendo entrenos, retos
                y objetivos con toda la comunidad. A través de Meet'nFit se pueden proponer actividades o unirse a salidas ya creadas por otros usuarios.
            </p>
        </div>
        <div class="col-sm-6">
            <img class="avatar mx-auto d-block" src="../../assets/imagenes/logo2">
        </div>
    </div>

</div>

<div class="container">
    <h2 class="titulo col-12 text-center" [ngStyle]="{'marginTop': '20px'}">Últimas opiniones!!</h2>
    <div class="row">
        <app-tarjeta-opinion class="col-12" [opinion]="opinion" *ngFor="let opinion of listaOpiniones"></app-tarjeta-opinion>
    </div>
</div>