<div class="ui-g-12">
  <p>Crea una nueva actividad!!</p>
  <button type="button">CREAR</button>
</div>

<div class="ui-g-6">
  <p>ACTIVIDADES PROPUESTAS</p>
  <div class="ui-g-6">
    <p>Mis actividades</p>
    <ul class="list-group">
      <li class="list-group-item">Salida en Bici a Hinojosa</li>
      <li class="list-group-item">Senderismo por Peñalara</li>
      <li class="list-group-item">Paseo nocturno por la ciudad</li>
      <li class="list-group-item">Bici hasta El Escorial</li>
      <li class="list-group-item">Ruta con perros por la sierra de Madrid</li>
    </ul>
  </div>
</div>


<div class="ui-g-6">
  <p>RESUMEN ACTIVIDAD</p>
  <img src="../../../assets/imagenes/salida1.jpg" alt="FOTO" width="400" height="400">
  <div class="ui-g-6">
    <button type="button">EDITAR</button>
    <button type="button">BORRAR</button>
  </div>
</div>

