<div class="ui-g-12">
  <p>Crea una nueva actividad!!</p>
  <button pButton type="button" label="CREAR" class="ui-button-info" routerLink="/usuario/actividades/nueva"></button>
  <button pButton type="button" label="CANCELAR" class="ui-button-info" routerLink="/usuario/actividades"></button>
  <router-outlet></router-outlet>
</div>

<div class="ui-g-6">
  <p>ACTIVIDADES PROPUESTAS</p>
  <div class="ui-g-6">
    <p>Mis actividades</p>
    <ul class="list-group">
      <li class="list-group-item">Salida en Bici a Hinojosa</li>
      <li class="list-group-item">Senderismo por Peñalara</li>
      <li class="list-group-item">Paseo nocturno por la ciudad</li>
      <li class="list-group-item">Bici hasta El Escorial</li>
      <li class="list-group-item">Ruta con perros por la sierra de Madrid</li>
    </ul>
  </div>
</div>


<div class="ui-g-6">
  <p>RESUMEN ACTIVIDAD</p>

  <app-tarjeta-salida class="ui-g-12"></app-tarjeta-salida>
  <button pButton type="button" label="EDITAR" class="ui-button-info"></button>
  <button pButton type="button" label="ELIMINAR" class="ui-button-info"></button>
</div>



