<p class="col-12">Usuario {{ usuario.id }}</p>
<div class="container">
    <h3 class="col-12">Crea una nueva actividad!!</h3>
    <button pButton type="button" label="CREAR" class="ui-button-info" routerLink="/usuario/actividades/nueva"></button>
    <button pButton type="button" label="CANCELAR" class="ui-button-danger" routerLink="/usuario/actividades"></button>
</div>

<router-outlet></router-outlet>

<div class="container">

    <div class="row">

        <p-dataScroller class="col-sm-12 col-md-6" [value]="listaMisActividadesPropuestas" [rows]="10">
            <p-header class="text-center col-sm-12 col-md-6">
                Mis actividades propuestas
            </p-header>
            <ng-template *ngIf="listaMisActividadesPropuestas.length > 0" let-actividad pTemplate="item" let-i="index">
                <div class="ui-g mensaje-item ui-button borde" (click)="cargarActividad(actividad)">
                    {{ actividad.nombre }}
                </div>
            </ng-template>
        </p-dataScroller>

        <div class="col-sm-12 col-md-6">
            <h3 class="text-center col-12">Resumen de la actividad</h3>
            <app-tarjeta-salida [salida]="salida" [usuario]="usuario"></app-tarjeta-salida>
        </div>

    </div>

</div>