.borde {
    border-bottom: 2px solid black;
}

button {
    background-color: #dedede;
    border-radius: 5px;
    border-bottom: 4px solid #F5AE15;
    font-weight: bolder;
    margin-bottom: 10px;
}

.borrar {
    background: #e7aa00;
    border-bottom: 4px solid black;
}

.titulo {
    font-weight: bolder;
    border-bottom: 4px solid #F5AE15;
}