<footer class="page-footer">

    <!-- Redes sociales -->
    <div class="primary-color">
        <div class="container">

            <div class="row py-4 d-flex align-items-center">

                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Nuestras redes social</h6>
                </div>

                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!-- Enlaces -->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--Primera columna-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>MeetnFiT</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Disfruta del deporte y la aventura con nosotros, y únete a la mejor comunidad deportiva</p>
            </div>

            <!--Segunda columna-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Actividades</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a [routerLink]="['/viajes']" routerLinkActive="router-link-active">Viajes</a>
                </p>
                <p>
                    <a [routerLink]="['/salidas']" routerLinkActive="router-link-active">Salidas</a>
                </p>
                <p>
                    <a [routerLink]="['/calendario']" routerLinkActive="router-link-active">Calendario</a>
                </p>
            </div>

            <!--Tercera columna-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>SOBRE NOSOTROS</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Inicia Sesión</a>
                </p>
                <p>
                    <a [routerLink]="['/registro']" routerLinkActive="router-link-active">Únete</a>
                </p>
                <p>
                    <a [routerLink]="['/acerca']" routerLinkActive="router-link-active">Conócenos</a>
                </p>
            </div>

            <!--Cuarta columna-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> Móstoles, Madrid (España)
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> meetnfit@meetnfit.com
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 34 612312312
                </p>

            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2018 Copyright: MeetnFiT</div>

</footer>