<p-carousel numVisible="4" headerText="ENCUENTRA GENTE CON LA QUE HACER DEPORTE DIARIAMENTE" effectDuration="slow" circular="true" autoplayInterval="5000" [value]="listaActividades">
    <ng-template let-salida pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <app-tarjeta-salida [ngStyle]="{'border': '2px solid black'}" [salida]="salida"></app-tarjeta-salida>
            </div>
        </div>
    </ng-template>
</p-carousel>