<div class="container">
    <h3 class="text-center">MI CALENDARIO!!</h3>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <p-schedule class="col-12" [header]="cabeceraConfiguracion" [events]="listaEventos"></p-schedule>
        </div>

        <div class="col-sm-12 col-md-4">
            <h3 class="col-12 text-center">Mis próximas actividades</h3>

            <ul class="col-12 list-group">

                <li *ngFor="let evento of listaProximosEventos" class="row list-group-item d-flex justify-content-between align-items-center btn" (click)="verActividad(evento)">
                    <span class="col-12">{{ evento.title }}</span>
                    <span class="col-sm-12 col-md-10 col-lg-4 badge badge-success badge-pill">{{ evento.start }}</span>
                    <span *ngIf="evento.end" class="col-sm-12 col-md-10 col-lg-4 badge badge-primary badge-pill"> {{ evento.end }}</span>
                </li>

            </ul>
        </div>

    </div>
</div>