<div class="ui-g-12">MI CALENDARIO!!</div>
<div class="ui-g-6">
  <div class="ui-g-2"></div>
  <p-schedule class="ui-g-8" [events]="events"></p-schedule>
  <div class="ui-g-2"></div>
</div>

<div class="ui-g-6">
  <p>Mis actividades</p>
  <ul class="list-group">
    <li class="list-group-item">Salida en Bici a Hinojosa</li>
    <li class="list-group-item">Senderismo por Peñalara</li>
    <li class="list-group-item">Paseo nocturno por la ciudad</li>
    <li class="list-group-item">Bici hasta El Escorial</li>
    <li class="list-group-item">Ruta con perros por la sierra de Madrid</li>
  </ul>
</div>
