/***************** CARRUSEL **********************/

body .ui-carousel {
    padding: 5px;
}

body .ui-carousel .ui-carousel-header {
    background-color: #191919;
    color: #F5AE15;
    padding: 0.571em 1em;
    border: 1px solid #191919;
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 1px 1px #e6bf14;
    text-align: center;
}

body .ui-carousel .ui-carousel-header .ui-carousel-header-title {
    padding: 0;
}

body .ui-carousel .ui-carousel-viewport {
    border: 1px solid #191919;
    background-color: #323232;
    color: #dedede;
    padding: 0;
}

body .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    border: 1px solid #191919;
}

body .ui-carousel .ui-carousel-footer {
    background-color: #191919;
    color: #dedede;
    padding: 0.571em 1em;
    border: 1px solid #191919;
    margin: 0;
}

body .ui-carousel .ui-carousel-button {
    color: #dedede;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

body .ui-carousel .ui-carousel-button.ui-carousel-next-button:before {
    content: "";
}

body .ui-carousel .ui-carousel-button.ui-carousel-prev-button:before {
    content: "";
}

body .ui-carousel .ui-carousel-button:not(.ui-state-disabled):hover {
    color: #F5AE15;
}

body .ui-carousel .ui-carousel-page-links {
    margin: 0.125em 0.5em;
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link {
    color: #dedede;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

body .ui-carousel .ui-carousel-page-links .ui-carousel-page-link:hover {
    color: #F5AE15;
}


/***************TAB MENU***************************/

body .ui-tabmenu {
    border: 0 none;
    margin-bottom: 2px;
    align-content: center;
}

body .ui-tabmenu .ui-tabmenu-nav {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid #191919;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
    position: static;
    border: 1px solid #191919;
    background-color: #191919;
    margin-right: 2px;
    margin-bottom: -1px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    align-content: flex-end;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link {
    color: #dedede;
    font-size: 17px;
    padding: 0.571em 1em;
    margin-right: 2px;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text {
    color: #dedede;
    margin-right: 0.5em;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
    color: #888888;
    margin-right: 0.5em;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover {
    background-color: #191919;
    border: 1px solid #191919;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover .ui-menuitem-link .ui-menuitem-text {
    color: #FFB300;
    font-weight: bolder;
    font-size: 19px;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem:not(.ui-state-active):not(.ui-state-disabled):hover .ui-menuitem-link .ui-menuitem-icon {
    color: #dedede;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
    background-color: #FFB300;
    border: 1px solid black;
    font-weight: bolder;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-text {
    color: black;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active .ui-menuitem-link .ui-menuitem-icon {
    color: black;
}


/**************DROPDOWN*********************/

body .ui-dropdown {
    margin-left: 10%;
    background: #585858;
    border: 1px solid #585858;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

body .ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #FFB300;
}

body .ui-dropdown:not(.ui-state-disabled):focus {
    border-color: #FFB300;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body .ui-dropdown .ui-dropdown-label {
    padding-right: 2em;
}

body .ui-dropdown .ui-dropdown-trigger {
    background-color: #585858;
    width: 2em;
    line-height: 2em;
    text-align: center;
    padding: 0;
    color: #dedede;
    font-weight: bolder;
}

body .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon:before {
    content: "";
}

body .ui-dropdown .ui-dropdown-clear-icon {
    color: #dedede;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border-color: #FFB300;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body .ui-dropdown-panel {
    padding: 0;
    border: 1px solid #191919;
    background-color: #323232;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

body .ui-dropdown-panel .ui-dropdown-filter-container {
    padding: 0.429em 0.857em 0.429em 0.857em;
    border-bottom: 1px solid #191919;
    color: #dedede;
    background-color: #252525;
    margin: 0;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter {
    width: 100%;
    padding-right: 2em;
}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
    top: 50%;
    margin-top: -.5em;
    right: 1.357em;
    color: #252525;
}

body .ui-dropdown-panel .ui-dropdown-items {
    padding: 0;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
    margin: 0;
    padding: 0.429em 0.857em;
    border: 0 none;
    color: #dedede;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #212121;
    background-color: #FFB300;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    color: black;
    font-weight: bold;
    background-color: #F5AE15;
}


/************************CARD*************************************/

body .ui-card {
    background-color: #323232;
    height: auto;
    color: #dedede;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}


/*****************************DATASCROLLER*******************************************/

body .ui-datascroller .ui-datascroller-header {
    background-color: #191919;
    color: #dedede;
    border: 1px solid #191919;
    padding: 0.571em 1em;
    font-weight: 400;
    border-bottom: 0 none;
}

body .ui-datascroller .ui-datascroller-content {
    padding: 0.571em 1em;
    border: 1px solid #191919;
    background-color: #323232;
    color: #dedede;
    padding: 0.571em 1em;
}

body .ui-datascroller .ui-datascroller-footer {
    background-color: #323232;
    color: #dedede;
    border: 1px solid #191919;
    padding: 0.571em 1em;
    border-top: 0 none;
}


/*******************************ACORDEON***********************************/

body .ui-accordion .ui-accordion-header {
    margin-bottom: 2px;
    font-size: 20px;
}

body .ui-widget-content p {
    line-height: 1.5;
    margin: 10px 10px;
}


/***************************INPUT MENU****************************************/

body .ui-inputtext {
    font-size: 14px;
    color: #dedede;
    background: #585858;
    padding: 0.429em;
    border: 1px solid #585858;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #FFB300;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: #FFB300;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}