<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- TO DO - MENSAJES-->
    <i class="pi pi-envelope"><span class="badge badge-pill badge-warning" (click)="verMensajes()">{{ numeroMensajesSinLeer }}</span></i>

    <div *ngIf="usuarioSesionService.esUsuarioRegistrado()" class="borde">
        <p-slideMenu #menuUsuario [model]="itemsUsuario" [viewportHeight]="320" [popup]="true"></p-slideMenu>
        <img class="rounded-circle" [src]="usuario.avatar" alt="avatar" (mouseover)="menuUsuario.toggle($event)">
        <i class="pi pi-angle-double-down"></i>
        <!-- (mouseleave)="menuUsuario.toggle($event) -->
    </div>


    <!-- PONER ICONO PARA ADMINISTRADOR-->
    <div *ngIf="usuarioSesionService.esAdministrador()">
        <p-slideMenu #menuAdmin [model]="itemsAdmin" [viewportHeight]="300" [popup]="true"></p-slideMenu>
        <i class="pi pi-cog" (click)="logout()" (mouseover)="menuAdmin.toggle($event)"></i>
        <!-- (mouseleave)="menuUsuario.toggle($event) -->
    </div>

    <i class="pi pi-sign-out" (click)="logout()"></i>
    <!--<button class="btn btn-outline-success my-2 my-sm-0" class="pi pi-power-off" (click)="logout()">Logout</button>-->
</nav>