nav {
    background: white;
}

img {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    cursor: pointer;
}

i {
    font-size: 2.5em;
    color: black;
    cursor: pointer;
    margin-left: 7px;
}

.borde {
    border: 2px solid white;
}

span {
    font-size: 15px;
}