img {
    width: 2.5em;
    height: 2.5em;
    border: 2px solid black;
    cursor: pointer;
    background: none;
    float: left;
    margin-left: 20px;
}

i {
    font-size: 2.5em;
    color: black;
    cursor: pointer;
    margin-left: 5px;
    float: left;
}

span {
    font-size: 15px;
    position: relative;
    top: -25px;
    left: -15px;
}

.cajon {
    margin-top: 10px;
    height: 60px;
}

#mensaje {
    margin-right: -18px;
}