<div class="container">

    <h3 class="titulo text-center">Mis amigos</h3>
    <input #textoBusqueda class="form-control mr-sm-2" type="search" (keyup)="buscarAtletas(textoBusqueda.value)" placeholder="Nombre del atleta" aria-label="Search">
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <p-dataScroller [value]="listaAmigos" [rows]="10">
                <p-header class="u-g-12">
                    Tus contactos ({{ listaAmigos.length }})
                </p-header>
                <ng-template ngIf*="listaAmigos.length> 0" let-amigo pTemplate="item">
                    <div class="ui-g-12 car-item">
                        <div class="ui-g-6 ui-md-6">
                            <img class="ui-g-12" [src]=" amigo.avatar ">
                        </div>
                        <div class="ui-g-6 ui-md-6 ">
                            <span class="ui-g-12">{{ amigo.nombre }}</span>
                            <button pButton type="button" label="Mensaje" routerLink="/usuario/mensajes" icon="pi pi-envelope" style="margin-right: .25em"></button>
                            <button pButton type="button" (click)="borrarAmigo(amigo.id)" label="Eliminar" icon="pi pi pi-trash" class="ui-button borrar"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dataScroller>
        </div>

        <div class="col-sm-12 col-md-6 ">

            <p-dataScroller [value]="listaUsuariosBusqueda" [rows]="10 ">
                <p-header class="u-g-12">
                    Contactos encontrados!
                </p-header>
                <ng-template let-usuarioBusqueda pTemplate="item ">
                    <div class="ui-g car-item">
                        <div class="ui-g-12 ">
                            <img class="imgBusqueda mx-auto d-block " [src]="usuarioBusqueda.avatar">
                        </div>
                        <div class="ui-g-12 ">
                            <p>{{ usuarioBusqueda.nombre }}</p>
                            <button pButton type="button" [disabled]="usuario.amigos.includes(usuarioBusqueda.id)" (click)="agregarAmigo(usuarioBusqueda.id)" label="Agregar" icon="pi pi-check" style="margin-right: .25em"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dataScroller>

        </div>

    </div>
</div>