<p class="col-12">Usuario {{ usuario.id }} </p>

<div class="container card-body">
    <input #textoBusqueda class="form-control mr-sm-2" type="search" (keyup)="buscarAtletas(textoBusqueda.value)" placeholder="Nombre del atleta" aria-label="Search">
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <p-dataScroller [value]="listaAmigos" [rows]="10">
                <p-header class="col-12">
                    Tus contactos ({{usuario.amigos.length}})
                </p-header>
                <ng-template let-amigo pTemplate="item">
                    <div class="ui-g-12 car-item">
                        <div class="ui-g-6 ui-md-3">
                            <img class="ui-g-12" [src]=" amigo.avatar ">
                        </div>
                        <div class="ui-g-6 ui-md-9 ">
                            <span class="ui-g-12">{{ amigo.nombre }}</span>
                            <button class="ui-g-6 btn btn-outline-success my-2 my-sm-0 ">Mandar mensaje</button>
                            <button class="ui-g-6 btn btn-outline-danger my-2 my-sm-0 ">Eliminar</button>
                        </div>
                    </div>
                </ng-template>
            </p-dataScroller>
        </div>

        <div class="col-sm-12 col-md-6 ">

            <p-dataScroller [value]="listaUsuariosBusqueda " [rows]="10 ">
                <p-header>
                    Contactos encontrados!
                </p-header>
                <ng-template let-usuario pTemplate="item ">
                    <div class="ui-g car-item ">
                        <div class="ui-g-12 ">
                            <img class="mx-auto d-block " [src]="usuario.avatar ">
                        </div>
                        <div class="ui-g-12 ">
                            <p>{{ usuario.nombre }}</p>
                            <button class="btn btn-outline-success my-2 my-sm-0 ">Agregar</button>
                            <button class="btn btn-outline-info my-2 my-sm-0 ">Mandar mensaje</button>
                        </div>
                    </div>
                </ng-template>
            </p-dataScroller>

        </div>

    </div>
</div>